.App {
  text-align: center;
}

.App-familu {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-family {
  width: 250px;
}

.statement-container {
  width: 80%;
  margin: auto;
}

.accordion {
  border: none;
}

section div {
  padding: 10px;
  text-align: left;
}

section h2 {
  text-align: center;
}

label {
  display: block;
  padding: 5px;
  font-weight: bold;
}

section quote {
  font-style: italic;
  padding-bottom: 10px;
}